.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
}

.sidebar-link {
    height: 75px;
}

.sidebar-link:hover {
    background-color: lightgray;
}

.home {
    width:25px;
}

.explore {
    width:25px;
}

.subcriptions {
    width:25px;
}

.originals{
    width:25px;
}

.music {
    width:25px;
}

.library {
    width:25px;
}